html {
	margin: 0;
	padding: 0;
}

* {
	font-family: Poppins;
}

body {
	background-color: #000;
	margin: 0;
	overflow: visible;
}

a {
	font-family: Poppins;
	text-decoration: none;
	color: rgb(196, 197, 196);
}

main {
	max-width: 1680px;
	width: 100%;
	min-height: calc(100vh - 87px);
	margin-top: 0;
	overflow: visible;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	width: 1000px;
	text-align: center;
	font-size: 64px;
	font-weight: 500;
	line-height: 1.4;
	color: #fff;
}
