html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	margin: 0;
	overflow: hidden;
}

a {
	font-family: Poppins;
	text-decoration: none;
	color: rgb(196, 197, 196);
}

ul {
	padding: 0;
	list-style: none;
}
